@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

.print-only {
  display: none;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 8mm;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white;
  }

  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .break-after-always {
    page-break-after: always;
    break-after: page;
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
  }
}
